*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Karla', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    background-color: hsl(120, 100%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100svh;
    position: relative;
}
.message-popup{
    background-color: hsl(187, 24%, 22%);
    width: 60%;
    max-width: 460px;
    margin-top: 1.1em;
    color: #fff;
    padding-block: 1.3em;
    padding-inline: .8em;
    border-radius: 8.7px;
    position: absolute;
    top: -20%;
    transition: top 0.5s ease-in-out;
}
.show{
    position: absolute;
    top: 10%;
}
.sent{
    display: flex;
    font-size: .7rem;
    gap: .7em;
    margin-bottom: .9em;
}
.form-container{
    background-color: hsla(0, 0%, 100%);
    padding-block: 2em;
    margin-block: 3em;
    border-radius: 8.7px;
    min-height: 600px;
    width: 80%;
    max-width: 740px;
    margin-inline: auto;
}
form{
    padding-inline: 1em;
    line-height: 1.3;
}
.form-title{
    margin-bottom: .4em;
    font-size: 1.4rem;
}
form label{
    font-size: .87rem;
    font-weight: 600;
    color: hsla(0, 0%, 50%, 0.9);
}
form label::after{
    content: '*';
    color: hsl(169, 82%, 27%);
    margin-inline-start: .3em;
}
form .first-name,
form .last-name,
form .email{
    display: block;
    width: 100%;
    min-height: 42px;
    margin-top: .7em;
    /* margin-bottom:1.7em; */
    border: 3px solid hsla(0, 0%, 50%, 0.3);
    border-radius: 8px;
    padding-inline: 1.3em;
    font-size: .87rem;
    color: hsla(0, 0%, 50%, 0.9);
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
form input[type="text"]:hover,
form input[type="text"]:focus-visible{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}
form input[type="email"]:hover,
form input[type="email"]:focus-visible{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}
.form-details{
    margin-bottom: 1.6em;
}

/* Radio Buttons */
form input[type="radio"]{
    accent-color: hsl(169, 82%, 27%);
    transform: scale(1.2);
    cursor: pointer;
}
.form-details p{
    border: 3px solid hsla(0, 0%, 50%, 0.3);
    margin-top: .7em;
    min-height: 42px;
    border-radius: 8px;
    padding: .5em 1.8em;
    color: hsla(0, 0%, 0%, 0.8);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.form-details p:hover,
.form-details p:focus-visible{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
    background-color: hsla(169, 82%, 27%, 0.2);
}
/* textarea */
.message{
    margin-block:1.2em ;
}
.message textarea{
    border: 1px solid hsla(0, 0%, 50%, 0.3);
    min-height: 160px;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding-inline: 1.2em;
    padding-block: .6em;
    margin-top: .3em;
    margin-bottom: .5em;
    font-size: 1rem;
    color: hsla(0, 0%, 50%, 0.9);
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.message textarea:hover,
.message textarea:focus-visible{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}
/* Checkbox */
.consent input[type="checkbox"],
.consent label{
    accent-color: hsl(169, 82%, 27%);
    transform: scale(1.2);
    cursor: pointer;
}
.consent label{
    margin-inline: .5em;
}
.form-details button{
    width: 100%;
    border: none;
    outline: none;background-color: hsl(169, 82%, 27%);
    color: hsla(0, 0%, 100%, 0.7);
    font-size: .8rem;
    padding-block: .9em;
    margin-top: 1.6em;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
}
.form-details button:hover,
.form-details button:focus-visible{
    cursor: pointer;
    box-shadow: 0 6px 8px hsl(0, 0%, 10%);
    color: #fff;
}

/* Media Queries */
@media(min-width:720px) {
    form .name{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6em;
    }
    .form-details .queries{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.3em;
    }

}
/* Javascript styling */

.form-details input.error,
.form-details textarea.error{
    border: 3px solid hsl(0, 66%, 54%);
}
.form-details input.error:hover,
.form-details textarea.error:hover{
    border: 3px solid hsl(0, 66%, 54%);
}
.form-details input.error:focus,
.form-details textarea.error:focus{
    border: 3px solid hsl(0, 66%, 54%);
}

.form-details #first-name-error{
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* last name */
.form-details #last-name-error{
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* email */
.form-details #email-error{
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* textarea */
.form-details #textarea-error{
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* Checkbox */
.form-details #checkbox-error{
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
    display: block;
}
/* Query */
.form-details #query-error{
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}

/* Completed styling */
main {
    font-family: 'Karla';
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
main > button {
    border: 0;
    outline: 0;
    padding: .6em 1em;
    max-width: 300px;
    font-size: 1.2rem;
    color: hsla(0, 0%, 50%, 0.9);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 1em;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
main > button:hover{
box-shadow: 0 6px 8px hsl(0, 0%, 10%);
}