*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Karla', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    background-color: hsl(120, 100%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}
.form-container{
    background-color: hsla(0, 0%, 100%);
    padding-block: 2em;
    border-radius: 8.7px;
    min-height: 600px;
    width: 80%;
    max-width: 740px;
    margin-inline: auto;
    margin-block: 3em;
}
form{
    padding-inline: 1em;
    line-height: 1.3;
}
.form-title{
    margin-bottom: .4em;
    font-size: 1.4rem;
}
form label{
    font-size: .87rem;
    font-weight: 600;
    color: hsla(0, 0%, 50%, 0.9);
}
form label::after{
    content: '*';
    color: hsl(169, 82%, 27%);
    margin-inline-start: .3em;
}
form input[type="text"],
form input[type="email"]{
    display: block;
    width: 100%;
    min-height: 42px;
    margin-top: .7em;
    /* margin-bottom:1.7em; */
    border: 3px solid hsla(0, 0%, 50%, 0.3);
    border-radius: 8px;
    padding-inline: 1.3em;
    font-size: .87rem;
    color: hsla(0, 0%, 50%, 0.9);
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
form input[type="radio"]{
    accent-color: hsl(169, 82%, 27%);
    transform: scale(1.2);
}
form input[type="text"]:hover,
form input[type="text"]:focus-visible{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}
form input[type="email"]:hover,
form input[type="email"]:focus-visible{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}
.form-details{
    margin-bottom: 1.6em;
}
.form-details p{
    border: 3px solid hsla(0, 0%, 50%, 0.3);
    margin-top: .7em;
    min-height: 42px;
    border-radius: 8px;
    padding: .5em 1.8em;
    color: hsla(0, 0%, 0%, 0.8);
    transition: all 0.5s ease-in-out;
}
.form-details p:hover,
.form-details p:focus-visible{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
    background-color: hsla(169, 82%, 27%, 0.2);
}
/* textarea */
.message{
    margin-block:1.2em ;
}
 .message textarea{
    border: 1px solid hsla(0, 0%, 50%, 0.3);
    min-height: 160px;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding-inline: 1.2em;
    padding-block: .6em;
    margin-top: .3em;
    margin-bottom: .5em;
    font-size: 1rem;
    color: hsla(0, 0%, 50%, 0.9);
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.message textarea:hover,
.message textarea:focus-visible{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}
/* Checkbox */
.consent input[type="checkbox"]{
    accent-color: hsl(169, 82%, 27%);
    transform: scale(1.2);
}
.consent label{
    margin-inline: .5em;
}
.form-details button{
    width: 100%;
    border: none;
    outline: none;background-color: hsl(169, 82%, 27%);
    color: hsla(0, 0%, 100%, 0.7);
    font-size: .8rem;
    padding-block: .9em;
    margin-top: 1.6em;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
}
.form-details button:hover,
.form-details button:focus-visible{
    cursor: pointer;
    transform: scale(0.9);
    color: #fff;
}

/* Media Queries */
@media(min-width:720px) {
    form .name{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6em;
    }
    .form-details .queries{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.3em;
    }

}
/* Javascript styling */
.form-details #first-name-error{
    display: none;
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* last name */
.form-details #last-name-error{
    display: none;
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* email */
.form-details #email-error{
    display: none;
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* textarea */
.form-details #textarea-error{
    display: none;
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* Checkbox */
.form-details #checkbox-error{
    display: none;
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}
/* Query */
.form-details #query-error{
    display: none;
    color: hsla(0, 100%, 50%, 0.9);
    margin-top: .3em;
    margin-left: .5em;
    font-size: .83em;
}